$color-background: #FDD;
$color-foreground: #511;

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}

div {
    $color-foreground: #000;
    $color-background: #FFF;

    color: $color-foreground;

    ul {
        $color-foreground: #222;
        $color-background: #DDD;

        color: $color-foreground;

        li {
            background-color: $color-background;
            border: 1px solid $color-foreground;
        }
    }
}