$icon1: 'icon1';
$icon2: 'icon2';
$icon3: 'icon3';
$icon4: 'icon4';
$icon5: 'icon5';
$icon6: 'icon6';
$icon7: 'icon7';
$icon8: 'icon8';
$icon9: 'icon9';
$icon10: 'icon10';
$icon11: 'icon11';
$icon12: 'icon12';
$icon13: 'icon13';
$icon14: 'icon14';
$icon15: 'icon15';
$icon16: 'icon16';

div-#{$icon1} {
   background-image: url('assets/icons/#{$icon1}.png');
}
div-#{$icon2} {
   background-image: url('assets/icons/#{$icon2}.png');
}
div-#{$icon3} {
   background-image: url('assets/icons/#{$icon3}.png');
}
div-#{$icon4} {
   background-image: url('assets/icons/#{$icon4}.png');
}
div-#{$icon5} {
   background-image: url('assets/icons/#{$icon5}.png');
}
div-#{$icon6} {
   background-image: url('assets/icons/#{$icon6}.png');
}
div-#{$icon7} {
   background-image: url('assets/icons/#{$icon7}.png');
}
div-#{$icon8} {
   background-image: url('assets/icons/#{$icon8}.png');
}
div-#{$icon9} {
   background-image: url('assets/icons/#{$icon9}.png');
}
div-#{$icon10} {
   background-image: url('assets/icons/#{$icon10}.png');
}
div-#{$icon11} {
   background-image: url('assets/icons/#{$icon11}.png');
}
div-#{$icon12} {
   background-image: url('assets/icons/#{$icon12}.png');
}
div-#{$icon13} {
   background-image: url('assets/icons/#{$icon13}.png');
}
div-#{$icon14} {
   background-image: url('assets/icons/#{$icon14}.png');
}
div-#{$icon15} {
   background-image: url('assets/icons/#{$icon15}.png');
}
div-#{$icon16} {
   background-image: url('assets/icons/#{$icon16}.png');
}